__pycache__/
*.egg-info/
*.pyc
*.ipynb_checkpoints
*.csv
*.log
.vscode/
maddpg-pytorch/HFO/bin/rcssserver
maddpg-pytorch/HFO/bin/soccerwindow2
maddpg-pytorch/HFO/bin/teams/base/agent
maddpg-pytorch/HFO/bin/teams/base/sample_coach
maddpg-pytorch/HFO/bin/teams/base/sample_player
maddpg-pytorch/HFO/bin/teams/base/sample_trainer
maddpg-pytorch/HFO/example/thread_agents
maddpg-pytorch/training_sessions
maddpg-pytorch/Pretrain_Files
maddpg-pytorch/HFO/log_pt

maddpg-pytorch/Pretrained_3v3/

maddpg-pytorch/Trained_3v3/

maddpg-pytorch/Pretrained_2v2/Cent_Q/

maddpg-pytorch/1v1/

maddpg-pytorch/rew_viz\.ipynb

maddpg-pytorch/Pretrained_2v2/High_Lvl/agent_0\.pth

maddpg-pytorch/Pretrained_2v2/High_Lvl/agent_1\.pth
