# VSCode
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Server
nohup.out

# JupyterNotebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Misc
.idea/
