__pycache__/
*.egg-info/
*.pyc
*.ipynb_checkpoints
*.csv
*.log
.vscode/
maddpg-pytorch/HFO/bin/rcssserver
maddpg-pytorch/HFO/bin/soccerwindow2
maddpg-pytorch/HFO/bin/teams/base/agent
maddpg-pytorch/HFO/bin/teams/base/sample_coach
maddpg-pytorch/HFO/bin/teams/base/sample_player
maddpg-pytorch/HFO/bin/teams/base/sample_trainer
maddpg-pytorch/HFO/example/thread_agents
maddpg-pytorch/training_sessions
maddpg-pytorch/HFO/log_pt
maddpg-pytorch/Pretrain_Files
maddpg-pytorch/Pretrained_3v3
maddpg-pytorch/Trained_3v3
