# PyBuilder
target/

# Make files
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeFiles/

# HFO Executeables
hfo/libhfo_c.so
lib/libhfo.so
bin/rcssserver
bin/soccerwindow2
bin/teams/base/agent
bin/teams/base/sample_coach
bin/teams/base/sample_player
bin/teams/base/sample_trainer
example/thread_agents
example/hfo_example_agent
example/high_level_random_agent
example/low_level_random_agent
example/mid_level_move_agent
example/mid_level_kick_agent
example/mid_level_dribble_agent
example/communication_agent
example/hand_coded_defense_agent

# Dependency directories
librcsc-prefix/
rcssserver-prefix/
soccerwindow2-prefix/

# Logs
log/
bin/log/
